APP_NAME=Cyber Trace
APP_ENV=development
DEBUG=true

DATABASE_URL=your_database_url_here

API_KEY=your_api_key_here

THREAT_INTELLIGENCE_API_KEY=your_api_key_here

SECRET_KEY=change_this_in_real_environment